<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/CSS/style1.css"/>
    <title>Классы - расписание</title>
    {% import "macros1.html" as macros1 %}
</head>
<body>
<div class=menu>
    <ul>
        <li class=active><a href={{ url_for("index1") }}>Расписание для классов</a></li>
        <li class=active><a href={{ url_for("index2") }}>Расписание для преподавателей</a></li>
        <li class=active><a href={{ url_for("index3") }}>Расписание для кабинетов</a></li>
    </ul>
</div>
<div class=block>
    <zagolovok><b>СОСТАВЛЕНИЕ РАСПИСАНИЯ НА НЕДЕЛЮ ДЛЯ КЛАССА</b></zagolovok>
    <p>
    <form action='' method="get">
        Выбери класс:
        <!-- Создаем поле со списком с именем reader
        (использовать макрос, созданный в ЛР 5 -->
        {{ macros1.render_readers(combo_box, reader_id, len) }}
        <input type="submit" value="Показать расписание">
    </form>
    </p>
    </p>




    <form action="{{ url_for('new_class') }}" method="get">
        <input type="submit" value="Добавить новый класс">
    </form>
    <form action="{{ url_for('new_subject') }}" method="get">
        <input type="submit" value="Добавить новый предмет">
    </form>
    <form action="{{ url_for('new_teacher') }}" method="get">
        <input type="submit" value="Добавить нового преподавателя">
    </form>
    <form action="{{ url_for('new_cabinet') }}" method="get">
        <input type="submit" value="Добавить новый кабинет">
    </form>




    </p>
    {{ macros1.render_table("Понедельник", group_found, "group_found_id", len) }}
    </p>
    </p>
    {{ macros1.render_table("Вторник", group_found2, "group_found_id2", len) }}
    </p>
    </p>
    {{ macros1.render_table("Среда", group_found3, "group_found_id3", len) }}
    </p>
    </p>
    {{ macros1.render_table("Четверг", group_found4, "group_found_id4", len) }}
    </p>
    </p>
    {{ macros1.render_table("Пятница", group_found5, "group_found_id5", len) }}
    </p>
    </p>
</div>

</body>
</html>